.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  overflow-x: hidden;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.toolbar-icon {
  padding: 0 28px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
.badgecolor {
  color:#FFC06A;
}

.mat-nav-list a.active {
  background: turquoise;
}