
  <app-chap-nav> </app-chap-nav>

  <mat-card class="grid-container">
    <nav aria-label="breadcrumb" class="mt-2 mr-2">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active mat-h1" aria-current="page"> Admin </li>
      </ol>
    </nav>
    
    <div class="row">
      <div class="col-md-4">
        <!-- Admin profile -->
        <mat-card>
          <img mat-card-image src="../../assets/img/user.png">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>
                John Doe
              </mat-card-title>
              <mat-card-subtitle>
                General Manager
              </mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
           
          <mat-card-content>
            <p>
              Company: Uniliver (U) Ltd
            </p>
            <p>
              Kampala,Uganda
            </p>
            
          </mat-card-content>
          <mat-card-footer>

              <button type="button" mat-icon-button class="toolbar-icon">
                <mat-icon>mail_outline</mat-icon>
              </button>
              <button type="button" mat-icon-button class="toolbar-icon">
                <mat-icon >star_rate</mat-icon>
              </button>
              <button type="button" mat-icon-button class="toolbar-icon">
                <mat-icon >language</mat-icon>
              </button>
              <button type="button" mat-icon-button class="toolbar-icon">
                <mat-icon>android</mat-icon>
              </button>
              <button type="button" mat-icon-button class="toolbar-icon">
                <mat-icon>phone</mat-icon>
              </button>
          </mat-card-footer>
        </mat-card>
        <!-- Add company user-->
        <mat-card class=" ml-2 mb-2 mt-2">
          <mat-card-title> ADD MEMBER </mat-card-title>
          <app-chap-add-member></app-chap-add-member>
        </mat-card>
      </div>
      <div class="col-md-8">
        <div class="row">
        <!-- List of distributors -->
      <div class="col-md-6">
        <h3 class="chap-red"> List of Distributors </h3>
        <mat-card  class="mb-2 person-card-content" *ngFor="let distributor of distributors">
          <mat-card-content>
            <img src="{{ distributor.card_img }}" class="img-round" height="" width="">
            <mat-card-title-group>
              <mat-card-title >
                 {{ distributor.card_name }}
              </mat-card-title>
              <mat-card-subtitle>
        
                 {{ distributor.card_location }}
        
                <br>
        
                {{ distributor.card_phone }}
        
              </mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-content>
          <mat-card-footer>
            <button type="button" mat-icon-button class="toolbar-icon">
              <mat-icon>mail_outline</mat-icon>
            </button>
            <button type="button" mat-icon-button class="toolbar-icon">
              <mat-icon>star_rate</mat-icon>
            </button>
            <button type="button" mat-icon-button class="toolbar-icon">
              <mat-icon>language</mat-icon>
            </button>
            <button type="button" mat-icon-button class="toolbar-icon">
              <mat-icon>android</mat-icon>
            </button>
            <button type="button" mat-icon-button class="toolbar-icon">
              <mat-icon>phone</mat-icon>
            </button>
          </mat-card-footer>
        </mat-card>
        
      </div>
      <!-- List of employess using app -->
      <div class="col-md-6">
        <h3 class="chap-red"> Employees on system </h3>
        <mat-card class="mb-2 text-center" *ngFor="let employee of employees">
          <mat-card-content>
            <img src="{{ employee.card_img }}" class="img-round" height="" width="">
            <mat-card-title-group>
              <mat-card-title>
                {{ employee.card_name }}
              </mat-card-title>
              <mat-card-subtitle>
        
                {{ employee.card_location }}
        
                <br>
        
                {{ employee.card_phone }}
        
              </mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-content>
          <mat-card-footer>
            <button type="button" mat-icon-button class="toolbar-icon">
              <mat-icon>mail_outline</mat-icon>
            </button>
            <button type="button" mat-icon-button class="toolbar-icon">
              <mat-icon>star_rate</mat-icon>
            </button>
            <button type="button" mat-icon-button class="toolbar-icon">
              <mat-icon>language</mat-icon>
            </button>
            <button type="button" mat-icon-button class="toolbar-icon">
              <mat-icon>android</mat-icon>
            </button>
            <button type="button" mat-icon-button class="toolbar-icon">
              <mat-icon>phone</mat-icon>
            </button>
          </mat-card-footer>
        </mat-card>
      </div>
        </div> <!-- end of row -->
      </div>
    </div>

  </mat-card>
