
.grid-container {
  margin-left: 0px;
}

.toolbar-icon {
  padding: 0 28px;
}

.add-container {
  display: flex;
  flex-direction: column;
}

.add-container  > *{
  width: 100%;
}

.person-card-content {
  text-align: center;
}